#waybar {
  padding: 2px 0;
}
* {
  font-family: "monospace";
  font-size: 12px;
  color: #ebdbb2; /* Gruvbox light foreground */
  background-color: transparent;
}

#workspaces button {
  padding: 2px 4px;
  margin: 1px;
  border-radius: 4px;
  background: #504945; /* Gruvbox dark grayish-brown */
  color: #1d2021; /* Gruvbox light foreground */
}

#workspaces button.focused {
  background: #b57614; /* Gruvbox medium yellow for focus */
  color: #1d2021; /* Darker text color for better contrast */
}

#clock {
  padding: 2px;
  margin: 0 4px;
  background: #504945; /* Gruvbox dark background */
  border-radius: 4px;
  color: #ebdbb2; /* Gruvbox light foreground */
}

#cpu, #memory, #disk, #pulseaudio {
  padding: 2px;
  margin: 0 4px;
  border-radius: 4px;
  background: #504945; /* Gruvbox dark grayish-brown */
  color: #ebdbb2; /* Gruvbox light foreground */
}

#pulseaudio.muted {
  background: #cc241d; /* Gruvbox red for muted state */
  color: #282828; /* Gruvbox dark background for contrast */
}

